sudo: required
dist: trusty
language: scala
scala:
   - 2.12.8
   - 2.11.12
   - 2.13.0
env:
- JDK=oraclejdk8
- JDK=openjdk8
- JDK=openjdk11
before_script:
  - jdk_switcher use $JDK
script:
- sbt "++ ${TRAVIS_SCALA_VERSION}!" test
- git diff --exit-code # check scalariform
