sudo: required
dist: trusty
language: scala
scala:
   - 2.11.11
   - 2.12.4
   - 2.13.0-M2
env:
- JDK=oraclejdk8
- JDK=openjdk8
before_script:
  - jdk_switcher use $JDK
script:
- sbt "++ ${TRAVIS_SCALA_VERSION}!" test
- git diff --exit-code # check scalariform